<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
        <h3>Please Sign In</h3>
 

        <form class="form" action="" method="post" name="login">
            {{ form.hidden_tag() }}

          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            {{ form.username(size=80, class="form-control") }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            {{ form.password(size=80, class="form-control")}}        
          </div>
          <div class="form-check">
            <label class="form-check-label">
            {{ form.remember_me }} Remember Me
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>


{% endblock %}
